body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar utama */
.navbar {
  background-color: #113F67;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 0;
}

.home {
  padding: 20px;
  background-color: #34699A;
  text-align: center;
  height: 500px;
}

.layanan-btn {
  text-decoration: none; 
  color: hsl(0, 0%, 0%); 
  background-color: #064a83; 
  padding: 10px 50px; 
  border-radius: 30px;
  border: 3px solid hsl(0, 0%, 0%);
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.home a:hover {
  background-color: hsl(0, 0%, 0%);
  color: #064a83;
}

/* Tombol hamburger */
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* Menu link */
.nav-links {
  display: flex;
  align-items: center;
  padding: 14px 20px;
}

.nav-links a {
  color: rgb(2, 2, 2);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  
}

.nav-links a:hover {
  background-color: #415b7c;
}

.layanan-item {
  background-color: rgb(8, 58, 151);
  color: white;;
  border-radius: 20px;
  display: inline-block;
  width: 100px;
  animation: floating 3s ease-in-out infinite;
  filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
}

.layanan-item img {
  width: 30%;
  height: auto;
}

.layanan-item a  {
  text-decoration: none;
  color: white;
  display: block;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
}

.layanan-item a:hover {
  background-color: #34699A;
}

/* Responsif untuk HP */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #113F67;
  }

  .nav-links a, .dropdown .dropbtn {
    text-align: left;
    padding: 14px;
    width: 50%;
  }

  .nav-links.active {
    display: flex;
  }

  /* Dropdown di mode mobile */
  .dropdown-content {
    position: relative;
    box-shadow: none;
  }
}

@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
